.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  
  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
  }
  
  .swiper-slide img  {
    display: block;
    width: 100%;
    position: relative;
  }
  
  .sliderr{
    width: 500px !important;
  }
  .sliderr .abv{
    padding: 10px;
    position: absolute;
    bottom: -120px;
    left: -50px;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.6);
    transition: .7s;
  }
  
  .sliderr:hover .abv{
    position: absolute;
    left: 1px ;
    bottom: 1px;
    opacity: 1;
  }
  .abv h1{
    font-size: 20px;
  }
  .abv h4{
    font-size: 16px;
  }
  @media (max-width: 768px) {
    .sliderr{
      width: 300px !important;
    }
    .abv h1{
      font-size: 20px;
    }
    .abv h4{
      font-size: 16px;
    }
  }

  
  